.container {
  padding: 30px 30px 30px 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  margin-top: 150px;
  justify-content: center;
}

#input_1{
  margin: 10px 10px 10px 10px;
}

#input_2{
  margin: 10px 10px 10px 10px;
}

.inputBoxes{
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
}

.functional-buttons{
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
}

.result{
  justify-items: center;
}

.button{
  margin: 10px 10px 10px 10px;
}
